!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Qattus
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %div.nav
      = link_to "Home", home_page_path
      \|
      = link_to "Texts", texts_path


    = yield

    %hr
    %pre
      = request.base_url 
      ,
      = Rails.env
